# flyctl launch added from .idea\.gitignore
# Default ignored files
.idea\shelf
.idea\workspace.xml

# flyctl launch added from .venv\.gitignore
# created by virtualenv automatically
.venv/
__pycache__/
*.pyc
*.pkl
*.zip
*.md
glove.6B.300d.txt
sentence-transformers/
downloads/
